<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard - Ahri's Oase</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" href="/assets/img/ao.ico">

        <script src="https://cdn.jsdelivr.net/npm/cash-dom/dist/cash.min.js"></script>
        <script src="/assets/js/jokes.js"></script>
        <script src="/assets/js/client-orders.js"></script>

    </head>

    <body class="bg-transparent">
        <div class="container-fluid">

            <div class="row p-3 mb-3"><br></div>

            <div class="row">
            
                <div class="container col-8 cbg-white rounded">

                    <div class="row mb-3">
                        <div class="mt-5">
                            <div class="container p-0">
                                <div class="row">
                                    <div class="col-9 pt-3 border-end">
                                        <div class="text-center">
                                            <div class="text-center text-dark">
                                                <h4>
                                                    <strong>Order History<br></strong>
                                                </h4>
                                                <p style="font-size: .8rem;">Newest orders at the top</p>
                                                <hr class="text-dark">
                                            </div>

                                            <% Orders.forEach(function(data) { %>
                                                <button type="button" class="btn btn-primary w-100 p-2 mb-3" data-bs-toggle="modal" data-bs-target="#orderModal-<%- data['code'] %>">
                                                    <%- data['user'] %> | <%- data['amount'] %>€ | <%- data['payed'] ? 'Payed' : 'Awaiting Payment' %> | Shipped: <%- data['shipped'] ? '✅' : '❌' %>
                                                </button>

                                                <div class="modal fade" id="orderModal-<%- data['code'] %>" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content cbg-white text-dark">
                                                        <div class="modal-header text-center">
                                                            <h5 class="modal-title w-100" id="orderModalLabel">Order Status</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" action="/api/set_info" class="text-center text-primary" id="orderInfoForm-<%- data['code'] %>">
                                                                <ul class="list-group list-group-horizontal bg-transparent">
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">User:</li>
                                                                    <li class="list-group-item w-50 bg-transparent text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="<%- data['userid'] %>" onclick="copyText(event);"><code><%- data['user'] %></code></li>
                                                                </ul>

                                                                <ul class="list-group list-group-horizontal bg-transparent">
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">Bestellnummer:</li>
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">
                                                                        <input id="order-id" type="text" name="code" class="text-center cinput-style p-1 m-0" placeholder="Bestellnummer" value="<%- data['code'] %>" readonly />
                                                                    </li>
                                                                </ul>

                                                                <ul class="list-group list-group-horizontal bg-transparent">
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">Date:</li>
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">
                                                                        <%- `${new Date(data['date']).getDate().toString().padStart(2, '0')}/${(new Date(data['date']).getMonth() + 1).toString().padStart(2, '0')}/${new Date(data['date']).getFullYear()} ${new Date(data['date']).getHours().toString().padStart(2, '0')}:${new Date(data['date']).getMinutes().toString().padStart(2, '0')}` %>
                                                                    </li>
                                                                </ul>

                                                                <ul class="list-group list-group-horizontal bg-transparent">
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">Betrag:</li>
                                                                    <li class="list-group-item w-50 bg-transparent text-dark"><code><%- data['amount'] %> €</code></li>
                                                                </ul>
                                                                
                                                                <ul class="list-group list-group-horizontal bg-transparent">
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">Bezahlt:</li>
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">
                                                                        <select id="order-payed" name="payed" class="text-center cinput-style p-1 m-0" required>
                                                                            <option value="true"  <%- data['payed'] ? 'selected' : '' %> >✔️</option>
                                                                            <option value="false" <%- !data['payed'] ? 'selected' : '' %> >❌</option>
                                                                        </select>
                                                                    </li>
                                                                </ul>
                                                                
                                                                <ul class="list-group list-group-horizontal bg-transparent">
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">Geliefert:</li>
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">
                                                                        <select id="order-shipped" name="shipped" class="text-center cinput-style p-1 m-0" required>
                                                                            <option value="true"  <%- data['shipped'] ? 'selected' : '' %> >✔️</option>
                                                                            <option value="false" <%- !data['shipped'] ? 'selected' : '' %> >❌</option>
                                                                        </select>
                                                                    </li>
                                                                </ul>

                                                                <ul class="list-group list-group-horizontal bg-transparent">
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">Info:</li>
                                                                    <li class="list-group-item w-50 bg-transparent text-dark">
                                                                        <input id="order-info" type="text" name="info" class="text-center cinput-style p-1 m-0" placeholder="Info" value="<%- data['info'] %>" />
                                                                    </li>
                                                                </ul>
                                                            </form>
                                                        </div>

                                                        <div class="modal-footer justify-content-center">
                                                            <button type="submit" form="orderInfoForm-<%- data['code'] %>" class="btn btn-primary w-25" data-bs-dismiss="modal">Save</button>
                                                            <% if (data['shipped'] != true || data['payed'] != true) { %>
                                                                <a href="/api/cancel_order/<%- data['code'] %>" class="btn btn-danger w-25">Delete</a>
                                                            <% } %>
                                                            <% if (data['shipped'] == true || data['payed'] == true) { %>
                                                            <a href="/api/archive_order/<%- data['code'] %>" class="btn btn-danger w-25">Archive</a>
                                                            <% } %>
                                                            <button type="button" class="btn btn-primary w-25" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            <% }); %>
                                        </div>
                                    </div>
        
                                    <div class="col-3 pt-3">
                                        <div class="list-group text-dark text-left">
                                            <h4 class="text-center"><strong>Blüten:</strong></h4>
                                            <p></p>
                                            <hr>
                                            <span class="list-group-item bg-transparent text-dark">- 5g / 40€ (8€ Pro g)       </span>
                                            <span class="list-group-item bg-transparent text-dark">- 10g / 75€ (7.5€ Pro g)    </span>
                                            <span class="list-group-item bg-transparent text-dark">- 20g / 140€ (7€ Pro g)     </span>
                                            <span class="list-group-item bg-transparent text-dark">- 50g / 325€ (6.5€ Pro g)   </span>
                                            <span class="list-group-item bg-transparent text-dark">- 100g / 600€ (6€ Pro g)    </span>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
    
    
                
                <div class="col-2">
                    <div class="card">
                        <div class="position-relative pb-5">
                            <% if (User['banner']){ %>
                                <div class="banner-background" style="background-image: url('https://cdn.discordapp.com/banners/<%- User['id'] %>/<%- User['banner']%>.<%- User['banner'].startsWith('a_') ? 'gif' : 'png' %>');">
                            <% } %>
                            
                            
                                <img src="https://cdn.discordapp.com/avatars/<%- User['id'] %>/<%- User['avatar']%>.<%- User['avatar'].startsWith('a_') ? 'gif' : 'png' %>" class="rounded-circle avatar-position" alt="PB of Current user"/>
                            </div>
                        </div>
                        <hr class="mt-4">         
                        <div class="card-body text-center">
                        <h5 class="card-title"><%- User['global_name'] %></h5>
                        <p class="card-text" id="modt"></p>
                        <a href="/logout" class="btn btn-primary" data-mdb-ripple-init>Logout</a>
                        <% if (Admin) { %>
                            <a href="/dashboard" class="btn btn-primary" data-mdb-ripple-init>Dashboard</a>
                        <% } %>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </body>
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </footer>
</html>